body {
    margin: 0;
    height: 200vh;
    text-transform: uppercase;
    font-family: 'Charm', cursive;
    font-weight: bold;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}

p {
    display: inline;
}

pre {
    font-family: 'Charm', cursive;
    font-size: 3.5rem;
}

button {
    background-color: #7cc576;
    width: 180px;
    height: 60px;
    border-radius: 50px;
    color: #ffffff;
    font-family: 'Charm', cursive;
    font-size: 1.1rem;
    border-color: #7cc576;
}