.header_menu {
    width: 80%;
    position: relative;
    top: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_menu_li:first-child {
    width: 30%;
    position: relative;
    top: -5px;
}

.header_menu_li_a_img {
    position: relative;
    top: 8px;
}

.header_container_img {
    position: relative;
    top: 50px;
}

.header_main_img {
    width: 100%;
}

.header_container_img_title {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
}

.header_container_img_paragraph {
    color: #fff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
}

.header_container_img_button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3rem;
}

.main_container_title {
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 1.5rem;
}

.main_container_about {
    width: 100%;
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.icon {
    width: 50px;
    height: 50px;
    position: relative;
    top: 20px;
}

.main_container_about_paragraph {
    font-size: .9rem;
}

.main_container_just {
    width: 100%;
    height: 550px;
    position: relative;
    top: 200px;
    display: flex;
}

.main_container_gear {
    background-color: gray;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main_container_relax {
    width: 70%;
}

.main_container_relax_img {
    width: 100%;
    height: 100%;
}

.main_container_relax_info {
    position: absolute;
    top: 0;
    left: 35%;
    color: #ffffff;
}

.main_container_relax_info_title {
    font-size: 3rem;
}

.main_container_relax_info_paragraph {
    font-size: 1rem;
    position: relative;
    top: -40px;
}

.check {
    width: 35px;
}

.main_container_relax_info_container_check {
    position: relative;
    top: -30px;
}

.main_container_relax_info_container_check p {
    position: relative;
    top: -10px;
}

.main_container_relax_info_button {
    position: relative;
    top: -10px;
}

.main_container_project {
    position: relative;
    top: 250px;
    text-align: center;
}

.main_container_project_title {
    font-size: 2.5rem;
}

.main_container_project_paragraph {
    position: relative;
    top: -30px;
}

.main_container_developing {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 350px;
    height: 600px;
    overflow: hidden;
}

.main_container_developing_img {
    width: 50%;
}

.main_container_developing_info {
    background-color: steelblue;
    width: 50%;
    position: relative;
    left: 5%;
}

.main_container_developing_info_main_title {
    font-size: 1.5rem;
}

.main_container_developing_info_main_paragraph {
    font-size: 0.9rem;
}
